In [ ]:
print('hello')

hello

# Lists

* Lists are ordered collections of elements , and they are mutable , access elements in a list by their index.
* Lists allow duplicate elements.

In [ ]:
# list

l = [10,20,30]
print(l)
print(type(l))

[10, 20, 30]
<class 'list'>

In [ ]:
# list

li = list((10,20,30))
print(li)
print(type(li))

[10, 20, 30]
<class 'list'>

# Tuples

* Tuples are similar to lists but are immutable, They are used when you want to ensure that the data remains constant.
* Tuples allow duplicate elements.

In [ ]:
# tuple

t = (10,20,30)
print(t)
print(type(t))

(10, 20, 30)
<class 'tuple'>

# Dictionary

* Dictionaries are unordered collections of key-value pairs. Each key in a dictionary maps to a specific value, and they are mutable.
* access values in a dictionary by their keys.
* Keys in a dictionary must be unique, but the values can be duplicated.

In [ ]:
# dictionary

d = {"name":"kavan",
     "address":"kutch",
     "age":21}

print(d)
print(type(d))

{'name': 'kavan', 'address': 'kutch', 'age': 21}
<class 'dict'>

In [ ]:
# dictionary

d1 = dict({"name":"kavan",
          "address":"kutch",
          "age":21})

print(d1)
print(type(d1))

{'name': 'kavan', 'address': 'kutch', 'age': 21}
<class 'dict'>

In [ ]:
d2 = { 'car':['maruti', 'tata', 'kia'],
        'bus': ['tata', 'abc', 'xyz']}

print(d2)
print(d2['car'])
print(d2['car'][1])
print(type(d2))

{'car': ['maruti', 'tata', 'kia'], 'bus': ['tata', 'abc', 'xyz']}
['maruti', 'tata', 'kia']
tata
<class 'dict'>

In [ ]:
for x in l:
  print(x)

10
20
30

In [ ]:
for x in d2.items():
  print(x)

for x,y in d2.items():
  print(x,y)

('car', ['maruti', 'tata', 'kia'])
('bus', ['tata', 'abc', 'xyz'])
car ['maruti', 'tata', 'kia']
bus ['tata', 'abc', 'xyz']

In [ ]:
import pandas as pd

In [ ]:
# Dataframe

df = pd.DataFrame(d2)

print(df)
print('\n')
print(type(df))

      car   bus
0  maruti  tata
1    tata   abc
2     kia   xyz


<class 'pandas.core.frame.DataFrame'>

In [ ]:
# print according to city and name

d3 = {
    'name':['a','b','c','d'],
    'city':['x','y','z','w']
}

# make list
lis = ['x', 'w']

df = pd.DataFrame(d3)

for i in range(len(lis)):
  if (df['city'][i] == lis[i]):
    print( df['city'][i] + ':' + df['name'][i] )

x:a
y:b